.clear{
    clear: both;
}

/* BEGIN Nabvar */
.navbar a{
    color: #FFF !important;
}

button.mobile-menu-toggle.visible-xs i{
    color: #FFF !important;
}

.mobile-menu a,
.mobile-menu i{
    color: #FFF !important;
}


/* END Nabvar */


/* BEGIN common pages */
.page{
    color:#444 !important;

}

.page .btn-default{
    font-weight: 600;
    margin-left: 5px !important;
    margin-top: 5px !important;
}

.page .btn-default:hover{
    cursor: pointer;
    color: #FFF !important;
}
@media (max-width: 640px) {
    .page .btn-default{
        font-size: 10px !important;
        padding: 7px !important;
    }
}

#title-common{
    font-family: 'Archivo', sans-serif;
    font-size: 50px !important;
    line-height: 60px;
    font-weight: 600 !important;
    margin-bottom: 20px;
    margin-top: 100px !important;
}

@media (max-width: 640px) {
    #title-common{
        font-family: 'Archivo', sans-serif;
        font-size: 30px !important;
        line-height: 30px;
        font-weight: 600 !important;
        margin-bottom: 20px;
        margin-top: 100px !important;
    }
}

#title-common:after {
    background: #f7c51e;
    display: block;
    content: "";
    height: 6px;
    margin: 10px 0;
    width: 100px;
}

@media (max-width: 640px) {
    #title-common:after {
        background: #f7c51e;
        display: block;
        content: "";
        height: 4px;
        margin: 10px 0;
        width: 100px;
    }

}

/* END common pages */


/* BEGIN Reglamento */



#page-reglamento .tablepress thead th{
    background-color: #000 !important;
    color: #fff !important;
}

/* END Reglamento */

/* BEGIN Calendario */
#page-calendario .item{
    border: 2px solid #f7c51e;
    background: #eee;
    padding: 10px;
}

#page-calendario #title-item{
    font-size: 16px;
    font-weight: 600 !important;
    margin-bottom: 10px;
    background: #f7c51e;
    color: #000;
    padding: 7px 10px !important;
    display: inline-block;
    margin-left: -15px !important;
    margin-bottom: 0px !important;
}

#page-calendario .badge{
    color: #000;
    background-color: #f7c51e;
}



/* END Calendario */


/* BEGIN Events Calendar */
#tribe-events p,
#tribe-events ul{
    color: #444 !important;
}



#tribe-events ul{
    margin-left: -20px !important;
    list-style-type: none !important;
}

#tribe-events ul li{
    margin: 0 0 10px !important;
}

#tribe-events ul a{
    color: #402521;
    font-weight: bold;
}


/* END Events Calendar */